* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-bg-color: rgb(182, 105, 118);
    --sidebar-bg-color: rgb(236, 236, 236);
}

body {
    display: grid;
    height: 100vh;
    grid-template-columns: minmax(150px, 300px) 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header"
        "sidebar list"
        "sidebar footer";
    font-family: sans-serif;
}

header {
    background-color: var(--header-bg-color);
    color: white;
    padding: 1em;
    grid-area: header;
}

h1 {
    font-size: 2.5rem;
}

div.sidebar {
    background-color: var(--sidebar-bg-color);
    border-right: 2px solid rgb(194, 194, 194);
    grid-area: sidebar;
}

div.task-list-container {
    grid-area: list;
}

footer {
    grid-area: footer;
}


h2 {
    font-size: 1.5rem;
}

nav {
    padding: 1em 1.5em;
    font-size: 1rem;
    display: grid;
    gap: 1em;
}